/* Tổng quát */
body,
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    color: #000;
    display: flex;
    flex-direction: column;
}

/* Navbar chính */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
}

/* Logo chính */
.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 45px;
}

/* Ảnh logo */
.logo img {
    width: 50%;
    height: auto;
    margin-right: 10px;
}

.search-bar input {
    width: 300px;
    padding: 20px;
    border-radius: 30px;
    border: #000;
}

.search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.options span {
    display: flex;
    align-items: center;
    margin: 0 5px;
    /* Khoảng cách giữa các mục */
}

.options img {
    width: 80px;
    height: auto;
    margin-right: 10px;
}

.options a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
}

.location {
    margin-right: 70px;
    color: #000000;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
}

.location select {
    font-size: 20px;
    padding: 10px;
    width: 200%;
}
.location option {
    font-size: 20px;
}

.options a:hover {
    text-decoration: underline;
}

/* Thanh menu điều hướng */
.menu {
    background-color: #7b65f9;
    border-top: 1px solid #e0e0e0;
}

.menu ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-around;
}

.menu li {
    padding: 10px 15px;
}

.menu a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
    font-size: 14px;
}

.menu a:hover {
    color: #0056b3;
    text-decoration: underline;
}