body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    /* Màu nền nhẹ nhàng cho trang */
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="number"] {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    /* Màu xanh dương */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #ff0000;
    /* Màu xanh đậm hơn khi hover */
}

#output {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #e9ecef;
    /* Màu nền xám nhạt */
    max-width: 300px;
    margin: 0 auto;
    /* Trung tâm hóa div */
}